@{
    ViewData["Title"] = "Get to Know Joel";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <img src="~/joel hilton.jpg" alt="Joel Hilton">

    <a href="https://www.qwcomedy.com/" class="styled-link small-link">
        <img src="~/quickwits.png" alt="Quick Wits Comedy" height="200">
        Quick Wits Comedy
    </a>

    <a href="https://baconsale.com/" class="styled-link small-link">
        <img src="~/baconsales.jpg" alt="Joel with the Baconsale Team" height="200">
        Baconsale
    </a>
</body>
</html>
