@{
    ViewData["Title"] = "Home Page";
}

<!--Allie Marshall Section 3 IS413-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Joel Hilton Film Collection</title>
    <link href="css/site.css" rel="stylesheet" />
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="~/popcorn favicon-01.png">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <!--Title and introduction to site-->
    <h1>The Joel Hilton Film Collection</h1>
    <img src="~/joel hilton.jpg" alt="Joel Hilton">

</body>
</html>
